/* Webfont: GrandSlang-Roman */@font-face {
    font-family: 'GrandSlang';
    src: url('GrandSlang-Roman.eot'); /* IE9 Compat Modes */
    src: url('GrandSlang-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('GrandSlang-Roman.woff') format('woff'), /* Modern Browsers */
         url('GrandSlang-Roman.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


/* Webfont: Helvetica-Neue-Bold-Ita */@font-face {
    font-family: 'HelveticaBold';
    src: url('Helvetica-Neue-Bold-Ita.eot'); /* IE9 Compat Modes */
    src: url('Helvetica-Neue-Bold-Ita.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Helvetica-Neue-Bold-Ita.woff') format('woff'), /* Modern Browsers */
         url('Helvetica-Neue-Bold-Ita.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


/* Webfont: Helvetica-Regular */@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica-Regular.eot'); /* IE9 Compat Modes */
    src: url('Helvetica-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Helvetica-Regular.woff') format('woff'), /* Modern Browsers */
         url('Helvetica-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
